* {
	text-decoration: none;
}


.status {
  font-weight: 500;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  line-height: 1rem;
}

.status-in-use {
  color: #D18D01;
  font-family: Marcellus SC;
}
.status-not-available {
  color: #852E12;
	font-size: 1.2rem;
	font-family: Marcellus SC;
}
.status-available {
  color: #01724F;
  font-family: Marcellus SC;
}

.card-component {
  /* border: 1px solid black; */
  /* width: 12rem; */
  margin: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #E5E5E5; */
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.battery-img {
  width: 60%;
  max-width: 11rem;
  margin-top: 0.7rem;
}

.battery-info {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
}

.info {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.green-blob {
	background: #01724F;
	border-radius: 50%;
	margin: 10px;
	height: 15px;
	width: 15px;

	box-shadow: 0 0 0 0 rgba(1, 114, 79, 0.7);;
	transform: scale(1);
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(1, 114, 79, 0.7);;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(1, 114, 79, 0);;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(1, 114, 79, 0);;
	}
}

.red-blob {
	background: rgba(133, 46, 18, 1);
	border-radius: 50%;
	margin: 10px;
	height: 15px;
	width: 15px;

	box-shadow: 0 0 0 0 rgba(133, 46, 18, 0.7);
	transform: scale(1);
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(133, 46, 18, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(133, 46, 18, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(133, 46, 18, 0);
	}
}

.yellow-blob {
  background: rgba(132, 109, 2, 1);
	border-radius: 50%;
	margin: 10px;
	height: 15px;
	width: 15px;

	box-shadow: 0 0 0 0 rgba(132, 109, 2, 0.7);
	transform: scale(1);
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(132, 109, 2, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(132, 109, 2, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(132, 109, 2, 0);
	}
}