.back-arrow {
    width: 1.5rem;
}

.inuse-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.back-button{
    margin-top: 1rem;
    margin-left: 1rem;
}

.time-container {
    align-items: center;
    color: #3F4651;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.time-text{
    font-size: 22px;
    padding-bottom: 8px;
    text-align: center;
}

.time{
    font-size: 52px;
    font-family: Marcellus SC;
    text-align: center;
}

.username {
    font-size: 20px;
    color: #3F4651;

}

.back-button {
  align-self: flex-start;
}

.return-button {
    position: absolute;
    bottom: 0%;
    font-size: 25px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0px;
    width: 100%;
    height: 80px;
    font-family: Marcellus SC;
    cursor: pointer;
    transition: all 0.2s;
}


.grey-button {
    background-color: #818181;
    color: rgb(0, 0, 0);
}

.orange-button {
    background-color: #C0441B;
    color: rgb(255, 255, 255);
}


.orange-button:hover {
background-color: #d76139;
font-size: 26px;
}

.times-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    color: #861C1C;
    text-align: center;
    padding-top: 3.5rem;
}


.times-up-container h2 {
    font-family: "Marcellus SC";
    font-size: 2rem;
    font-weight: 400;
}

.times-up-container p {
    padding: 1rem;
}