*{
  font-family: Maven Pro;
}

.powerbank-info-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.user-login {
    width: 70%;
    height: 30%;
}

input {
    border: 1px solid ;
    border-radius: 0.5pc;
    padding: 0.7rem;
    width: 100%;
  }

.inputbar {
    margin-bottom:20px;
}

  form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
  }


#borrow-button {
    position: absolute;
    bottom: 0%;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: #338069;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0px;
    width: 100%;
    height: 100px;
    font-family: Marcellus SC;
  }

.warning-text {
    color: #B81717;
    font-size: large;
    
}

.back-button {
    align-self:flex-start;
}

