* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

html {
  background: linear-gradient(11.07deg, #C5C5EC 4.46%, #CFDAF3 31.55%, #D2E1F5 59.54%, #D8F0FA 76.7%, #EAF6FB 91.15%);
  width: 100%;
}

.App {
  /* min-width: 300px; */
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 4rem;
  min-height: 100vh;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.banner-container img {
  width: 25%
}

.card-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

}

.logo-text h2{
  font-family: 'Londrina Solid';
  font-weight: 400;
  color: #3F4651;
}

.logo-text {
  margin-left: 1.5rem;
}

.first-line-banner-text {
  font-size: 3.5rem;
  line-height: 2.7rem;
}


.second-line-banner-text {
  font-size: 6rem;
  line-height: 5rem;
}
